.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    width: 1000px;
}

.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
    text-align: center;
}

.section {
    padding-top: 20px;
}

.page-container > .content-wrapper > .section > p {
    letter-spacing: 1px;
    line-height: 30px;
}