.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    box-sizing: border-box; 
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.5s;
    z-index: 999;
}

.header > .left-column {
    display: flex;
    align-items: center;
}

.header > .left-column > .logo > a > img {
    width: 35px;
    transition: height 0.5s;
}

.header > .left-column > div {
    margin: 10px;
}

.header > .left-column > .title a {
    color: #F5F5F5;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.navigation-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    width: 80px;
    text-align: center;
}

.header > .right-column > .navigation-menu > .link > a {
    color: #F5F5F5;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

#topHeader.cus-nav {
    background-color: #0A1128;
    z-index: 999;
}

#topHeader.cus-nav > .right-column > .navigation-menu > .link > a {
    color: #F5F5F5;
}

#topHeader.cus-nav > .right-column > .navigation-menu > .link > a:hover {
    color: #2165AE;
}

.header > .right-column > .navigation-menu > .link > a:hover {
    color: #2165AE;

}