.hero-section {
    background-color: #0A1128;
    background-image: url(../images/backgrounds/jr-korpa-E2i7Hftb_rI-unsplash.jpg);
    padding: 100px;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    display: flex;
    justify-content: center;
}

.hero-section > .hero-card {
    display: flex;
    align-items: center;
}

.hero-section > .hero-card > .profile-picture > img {
    width: 125px;
    margin-right: 40px;
}

.hero-section > .hero-card > .hero-text > .top-heading {
    color: #f5f5f5;
}

.hero-section > .hero-card > .hero-text >  .bottom-heading {
    color: #f5f5f5;
}


